<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".immersion.ImmersionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".spannable.SpnnableTestActivity" />
        <activity android:name=".notifycation.NotificationTestActivity" />
        <activity android:name=".coordinator.CoordinatorWithFabActivity" />
        <activity
            android:name=".popup.PopupTestActivity"
            android:theme="@style/PopTheme" />
        <activity android:name=".recyclerview.RecyclerViewDemoActivity" />
        <activity android:name=".recyclerview.ReverseRecyclerActivity" />
        <activity
            android:name=".softinput.SoftInputTestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".chat.ChatDemoActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".nestscroll.RecyclerViewInScrollViewActivity" />
        <activity
            android:name=".immersion.FullScreenActivity"
            android:theme="@style/Theme.Holo.Light.Kiwi.NoActionBar.FullScreen" />
        <activity android:name=".push.OpenPermisionSettingActivity" />
        <activity android:name=".imagelibrary.FrescoTestActivity" />
        <activity android:name=".viewpager.ViewPagerEffectActivity" />
        <activity android:name=".coordinator.CoordinatorDispatchActivity" />
        <activity android:name=".coordinator.CoordinatorAppbarActivity" />
        <activity android:name=".password.PasswordActivity"></activity>
        <activity
            android:name=".dialogfragment.DialogFragmentTestActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionbar.Kiwi">

        </activity>
        <activity android:name=".toast.ToastDemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>